*
!*/
!.gitignore
!LICENSE
!README.adoc
!CHANGELOG.adoc
!AGENTS.md
!dub.sdl
!source/
!source/**
!docs/
!docs/**
!spikes/
!spikes/**
!changelog-details/
!changelog-details/**

**/*.exe
**/*.pdb
**/*.lib
**/*.obj
**/*.o
**/.dub/
!assets/
!assets/**
!help.sdl

